body {
  background: #343434;
}
.main {
  display: flex;
}
.sidebar {
  height: 90vh;
  background: black;
  flex: 1;
}
.logo {
  height: 64px;
  width: 64px;
  padding: 23px 51px;
}
.aside {
  height: 90vh;
  background: green;
  flex: 7.75;
}
.header {
  height: 10vh;
  background: grey;
}
.article {
  display: flex;
}
.article1 {
  height: 80vh;
  background: black;
  flex: 2;
}
.LUFS {
  height: 40vh;
  background: white;
}
.musiclist {
  height: 40vh;
  background: orange;
}
.musicThumbnail {
  height: 40vh;
  background: blue;
}
.musicDetails {
  height: 40vh;
  background: skyblue;
}
.article2 {
  height: 80vh;
  background: pink;
  flex: 1;
}
.footer {
  width: 100hh;
  height: 10vh;
  background: yellow;
}
